[submodule "dependencies/general-utils"]
	path = dependencies/general-utils
	url = https://badmenltd@code.google.com/p/shalk-general/
[submodule "web/WEB-INF/resources"]
	path = web/WEB-INF/resources
	url = https://privetgnil@code.google.com/p/yabivdulres/
[submodule "dependencies/jsonutils"]
	path = dependencies/jsonutils
	url = https://privetgnil@code.google.com/p/jsvdulloc/
[submodule "dependencies/vkapi"]
	path = dependencies/vkapi
	url = https://privetgnil@code.google.com/p/vksdfsadfasdf/
